.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .title {
    font-size: 32px;
    color: #4f4f4f;
  }
  
  .selectText {
    font-size: 28px;
    font-weight: bold;
    color: #4f4f4f;
    margin-top: 30px;
  }
  
  .selectContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
  }
  
  .selectButton {
    width: 100%;
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    transition: all 0.2s ease-in-out;
    background-color: #f8f8ff;
    color: #4f4f4f;
  }
  
  .selectButton:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  }
  
  .selectPokemon {
    display: flex;
    align-items: center;
  }
  
  .selectImage {
    width: 50px;
    height: 50px;
    margin-right: 16px;
    
  }
  
  .selectName {
    font-size: 24px;
  }
  
  .pokemonContainer {
    display: flex;
    justify-content: center;
  }
  
  .pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border-radius: 4px;
    
  }
  
  .pokemonImage {
    width: 100%;
    max-width: 150px;
    height: auto;
    
  }
  
  .pokemonName {
    font-size: 16px;
    color: #4F4F4F;
    margin-top: 8px;
    text-align: center;
  }
  
  .pokemonCard {
    margin-right: 16px;
    margin-bottom: 16px;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    
  }
  
  .pokemonCard:hover {
    transform: scale(1.05);
  }
  
  .pokemonName {
    font-size: 24px;
    color: #4f4f4f;
  }
  
  .pokemonType {
    font-size: 16px;
    color: #555;
    margin-right: 8px;
  }
  
  .pokemonImage {
    height: 100px;
    width: 100px;
    margin-bottom: 8px;
  }
  .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    }
    
    .cardTitle {
    display: flex;
    align-items: center;
    }
    
    .pokemonLogo {
    height: 30px;
    margin-right: 10px;
    }
    
    .cardId {
    font-size: 18px;
    font-weight: bold;
    }
    
    .cardBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    }
    
    .pokemonImg {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    }
    
    .pokemonType {
    font-size: 18px;
    margin-bottom: 10px;
    }
    
    .stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    }
    
    .stat {
    width: 50%;
    margin-bottom: 5px;
    }
    
    .statLabel {
    font-weight: bold;
    margin-right: 5px;
    }

    .buttonContainer {
      display: flex;
      justify-content: center;
     
    }

    .fightButton {
      height: 50px;
     
    }
    .saveButton {
      height: 50px;
    }
    .winnerCard {
      background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiiZutl7UYHZ4i5AgZ27ACB5z6IGs_AuABzdpJpBf5U1MO3bgwq5A6EnJ2BYpQZKVfQy4&usqp=CAU');
      background-size: cover;
      border-radius: 5px;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
      padding: 20px;
      text-align: center;
    }
  
    .winStats {
      padding-top: 47px;
    }
  @media (max-width: 768px) {
    .title {
      font-size: 24px;
    }
    
    .selectText {
      font-size: 24px;
    }
    
    .selectName {
      font-size: 20px;
    }
    
    .pokemonImage {
      height: 80px;
      width: 80px;
    }
    
    .pokemonName {
      font-size: 14px;
    }
    
    .pokemonType {
      font-size: 12px;
      margin-right: 4px;
    }
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    
    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 16px;
    }
    
    .selectContainer {
      margin-top: 16px;
    }
    
    .selectButton {
      width: 100%;
      margin-bottom: 8px;
    }
    
    .selectPokemon {
      flex-direction: column;
      align-items: center;
    }
    
    .selectImage {
      height: 70px;
      width: 60px;
      margin-right: 0;
    }
    
    .selectName {
      font-size: 16px;
      margin-top: 8px;
      text-align: center;
    }
    
    .pokemonContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    
    .pokemon {
      margin: 8px;
      padding: 8px;
    }
    
    .pokemonImage {
      height: 120px;
      width: 120px;
      margin-bottom: 8px;
    }
    
    .pokemonName {
      font-size: 16px;
      text-align: center;
    }
    
    .pokemonType {
      font-size: 12px;
      margin-right: 4px;
    }
  }